/* Start coding here */

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, hsl(0, 100%, 70%), hsl(240, 100%, 70%));
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  font-size: 45px;
}

.card {
  border-radius: 2%;
  background-color: hsla(0, 50%, 100%, 0.5);
  padding: 10px;
  width: 25%;
}

button {
  background-color: yellow;
  padding: 10px 10px;
  border-radius: 5%;
  border-color: yellow;
}
